<div class="line">
  <span class="label label-success user_name"></span>
  <span class="text"></span>
  <!--= link_to "<i class='icon-remove'></i>".html_safe, @line, method: :delete, :format => :js, :remote => true, data: { confirm: 'Are you sure?' }, :class => 'destroy_button' %-->
  <%= link_to "<i class='icon-remove'></i>".html_safe, '', :method => :delete, :format => :js, :remote => true, :class => 'destroy_button' %>
</div>