// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#lines_container{
  width: 100%;
  height: calc(100% - 40px);
  border: 1px solid #AAA;
  box-shadow: #BBB 1px 1px 5px inset;
  .title-room{
    background: $title-room-color;
    color: $title-room-color-font;
    margin: 0 0 5px 0;
    padding: 0 15px;

    .room-name{
      font-size: 1.1em;
    }
  }
  #lines{
    height: calc(100% - 100px);
    left: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;

    .line{
      padding: 0px 15px 0px 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      //border-radius: 10px;
      margin: 10px;
      //box-shadow: #777 1px 1px 2px;
      position: relative;
      font-size: .9em;
      a{
        text-decoration: none;
        margin-left: 10px;
        position: absolute;
        top:  5px;
        right: 5px;
      }
      .user_name{
        margin-right: 15px;
      }
    }
  }
  #form{
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    #new_line{
      margin: 0;
      height: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      #line_text{
        resize: none;
        height: 100%;
        width: 100%;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
}

